{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepassword" method="POST">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="CurrentPassword" name="CurrentPassword" placeholder="Enter Current Password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="NewPassword" name="NewPassword" placeholder="Enter New Password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="NewPasswordagain" name="NewPasswordagain" placeholder="New Password (again)">
        </div>
        <div class="mb-3">
        <button class="btn btn-primary" type="submit">Change Password</button>
        </div>
    </form>





{% endblock %}







